<!DOCTYPE html>
<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <title>WebGL Browser Report - WebGL Fingerprinting - WebGL 2 Test</title>
    <meta name="description" content="WebGL Browser Report checks WebGL support in your web browser, produce WebGL Device Fingerprinting, and shows the other WebGL and GPU capabilities more or less related web browser identity"
    />
    <link type="text/css" rel="stylesheet" media="all" href="css/style.css" />
    <noscript>
        <style type="text/css">
            .JS td,
            .JSh,
            .script {
                opacity: 0.5
            }

            .js_hide_block {
                display: block
            }
        </style>
    </noscript>
</head>

<body spellcheck="false">
<div id="noise"></div>
<div id="hand"></div>
<div id="logo">
    <strong>Web Browser Security Checklist for Identity Theft Protection</strong>
</div>
<div id="content">
    <header>
        <h1 class="client-side">WebGL Browser Report</h1>
    </header>

    <p>WebGL is a JavaScript API for rendering interactive 3D graphics within any compatible web browser without the use
        of plug-ins. WebGL apps consist of control code written in JavaScript and special effects code that is executed
        on a computer's GPU. WebGL elements can be mixed with other HTML elements and composited with other parts of
        the page or page background.</p>
    <p>WebGL Browser Report checks WebGL support in your web browser, produce WebGL Device Fingerprinting, and shows the
        other WebGL and GPU capabilities more or less related web browser identity.</p>
</div>
<form>
    <p>Логин: <input name="login" required></p>
    <p>Пароль: <input type="password" name="login" required></p>
    <p><input type="submit" value="Отправить"  ></p>
</form>
</body>

</html>